@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Monofett&family=Permanent+Marker&display=swap');

* {
    padding: 0;
    margin: 0;
    --header-height: 30px;
    --footer-height: 15px;
    --main-height: 100vh;
}

body {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}


main {
    background-color: darkblue;
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
    width: 100vw;
    height: var(--main-height);
    overflow: hidden;
}

#left-container {
    min-width: 40%;
    height: var(--main-height);
    background-image: url(./images/bartspace-creator.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#banner {
    display: flex;
    position: relative;
    top: 20%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    color: yellow;
    justify-content: center;
    align-items: center;
}

#right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 30%;
    color: white;
    font-size: 1.2rem;
}

#create-account-section {
    display: flex;
    background-color: lightblue;
    height: 33vh;
    width: 100%;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.503);
}

#create-account label {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#create-account input {
    border-radius: 10px;
}

#create-account {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}


.flex-row {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    justify-items: space;
}

#intro p{
    font-family: "Permanent Marker", cursive;
    width: 70%;
    margin-left: 10%;
}

#submit-section {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin-left: 10%;
    gap: 10px;
}

#submit-section a {
    color: lightblue;
}
#create-account-submit {
    min-height: 60px;
    min-width: 30%;
    max-width: 50%;
    font-size: 1.2rem;
    background-color: lightblue;
    color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.519);
}